*{
    box-sizing: border-box;
}

:root{
    --hoverTextColor: rgb(204, 39, 163);
    --textColor :#605d5d;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--textColor)

}

.header{
    height: 72px;
    /* background-color: red; */
    /* outline: 1px solid #CCC; */
    margin: 0px 280px;
    /* padding-left: 80px; */
    display: flex;
    /* Here height will be middle of 75 px  */
    align-items: center; 
    justify-content: space-between;  
    /* What is justify between */
    /* font-weight: 510; */
}
.headerRight,.headerLeft{
    display: flex;
    align-items: center;
}
img{
    width: 100%;
}
/*This will take width according to its parent(image)  */
.logoContainer{
width: 160px;
}
.searchIcon{
    width: 30px;
    padding: 5px;
}
.searchInputContainer{
    width: 400px;
    height: 45px;
    outline: 1px solid #ccc;
    display: flex;
    margin-left: 25px;
    border-radius: 3px;
    align-items: center;
    padding: 7px;
    position: relative;
}
form{
    width: 100%;
}
.inputSearch{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.searchRecentModal{
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 45px;
    background-color: white;
    height: 400px;
    width: 100%;
    display: none;
    padding: 15px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius:0px 0px 20px 20px;
}
.searchInputContainer:focus-within .searchRecentModal{
    display: block;
}
.recentIcon{
    width: 20px;
    margin-right: 15px;
}
.recentItem{
    display: flex;
    align-items: center;
}


/* Right item */

.mobileIcon{
    width: 15px;
    margin: 5px;
}
.downloadContainer{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;;
    
}
.downloadContainer:hover{
    color: var(--hoverTextColor);
    cursor: pointer;
    
}
.downloadBtn{
    display: block;
    width:160px ;
    margin-top: 10px;
    /* box-shadow: 0px 0px 5px rgba(0,0,0,0.3); */
}
.downloadHoverBtnContainer{
    position: absolute;
    bottom: 0;
    top: 45px;
    
    width: 100%;
    /* background-color: red; */
    display: none;
    height: 170px;
    padding: 10px;
    color: var(--textColor);
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    
    
}
.downloadContainer:hover .downloadHoverBtnContainer{
    display: block;
}
.downloadContainer P{
    margin: 0;
    padding: 0;
    font-size: 17px;
    padding: 20px;
}

.profileAndCart{
    display: flex;
    align-items: center;
}
/* what is use of focus */
.profileAndCart :hover,.profileAndCart:focus{
    color: var(--hoverTextColor);
}
.profileIcon,.cartIcon{
    width: 20px;
}
.profileAndCart p {
    margin: 0;
    padding: 0;
}
.profileContainer ,.cartContainer{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.becomeSupplierContainer{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    border-left: 2px solid #CCC;
    border-right: 2px solid #CCC;
    font-size: 17px;
}
