/* Define custom CSS variables */
:root {
  --hoverTextColor: rgb(204, 39, 163); /* Color for text on hover */
  --textColor: #605d5d; /* Default text color */
}

/* Styling for navigation bar */
nav {
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-weight: 510;
  height: 50px;
}

/* Styling for navigation bar list items */
nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  height: 100%;
  margin: 0;
}

/* Styling for individual navigation bar list items */
nav ul li {
  display: flex;
  /* background-color: red; */
  align-items: center;
  /* position: relative; */
}

/* Styling when hovering over navigation bar list items */
nav ul li:hover {
  color: var(--hoverTextColor);
  border-bottom: 3px solid var(--hoverTextColor);
  cursor: pointer;
}

/* Styling for the submenu */
.subMenu {
  position: absolute;
  width: 99vw;
  top: 120px;
  left: 10px;
  right: 10px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: -1px 0px 1px 1px #ccc, 1px 0px 1px 1px #ccc;
  /* height: 400px; */
  /* padding: 20px; */
  padding-left: 20px;
  display: none;
}

/* Show the submenu when hovering over the navigation bar list item */
nav ul li:hover .subMenu {
  display: block;
}

/* Styling for text inside the submenu */
.subMenu p {
  color: var(--textColor);
}

/* Additional styling for navigation bar list items */
nav ul li {
  padding-right: 20px;
}

/* Styling for the container of lowest price section */
.lowestPriceContainer {
  background-color: rgb(248, 248, 255);
  display: flex;
  margin: 50px auto;
  max-width: 1100px;
}

/* Styling for the heading within the lowest price section */
.lowestPriceContainer h1 {
  font-size: 40px;
  margin: 0px;
  color: rgb(53, 53, 67);
  font-weight: 00;
}

/* Styling for the text content within the lowest price section */
.lowestPriceText {
  width: 50%;
  margin: 40px;
}

/* Styling for the images within the lowest price section */
.lowestPriceImg {
  width: 50%;
}

/* Styling for the icons within the lowest price section */
.lowestPriceIcon {
  width: 45px;
  border-radius: 35px;
  border: 1px solid grey;
}

/* Styling for the sub-sections within the lowest price section */
.lowestPriceSub {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 20px 0;
  width: 50%;
}

/* Styling for the individual items within the lowest price section */
.lowestPriceItem {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  background-color: white;
}

/* Styling for the bordered lowest price item */
#borderLowestItem {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

/* Styling for the text within the lowest price items */
.lowestPriceItem p {
  padding-left: 10px;
  color: rgb(59, 53, 67);
  font-weight: 600;
}

/* Styling for the container of the download app section */
.downloadAppContainer {
  background-color: rgb(159, 32, 137);
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 20px 10px;
  margin-top: 35px;
}

/* Styling for the text within the download app section */
.downloadAppContainer p {
  padding: 0 20px;
  color: white;
}

/* Styling for the download app icon */
.downloadAppicon {
  margin-left: 10px;
}

/* Styling for the top categories section */
.topCategoriesFrom {
  width: 1100px;
  margin: auto;
}

/* Styling for the heading within the top categories section */
.topCategoriesHeading {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for the horizontal line separator within the top categories section */
hr {
  width: 53%;
  /* background-color: black; */
  border: 1px solid var(--hoverTextColor);
}

/* Styling for the text within the top categories section */
.topCategoriesHeading h1 {
  width: max-content;
  width: 800px;
  display: flex;
  color: rgb(53, 53, 67);
  font-size: 35px;
}

/* Styling for the top categories image */
.topCategoreisImage {
  width: 100%;
  height: 600px;
  background-image: url(https://images.meesho.com/images/marketing/1678691670429_1200.webp);
  background-repeat: no-repeat;
  margin-top: 50px;
}

/* Styling for the images within the top categories image section */
.topCategoreisImage img {
  /* display: flex; */
  /* position: absolute; */
  width: 320px;
  margin-top: 88px;
  margin-left: 10px;
  padding: 0 10px;
  flex-direction: row;
  /* justify-content: center;
    align-items: center; */
}

/* Additional styling for the first child image within the top categories image section */
.topCategoreisImage img:first-child {
  width: 410px;
}

/* Styling for the essential and new style sections */
.essentialsContainer,
.newStyleContainer {
  width: 100%;
  background-image: url(../data/image_source/essential_bg.webp);
  height: 500px;
  background-repeat: no-repeat;
  margin-top: 50px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

/* Additional styling for the background of the new style section */
#newStylebg {
  background-image: url(../data/image_source/New_style-bg.webp);
}

/* Styling for images within the essential and new style sections */
.essentialsContainer img,
.newStyleContainer img {
  max-width: 180px;
}

/* Styling for individual items within the essential and new style sections */
.esseneital_item,
.newStyle_item {
  margin-left: 50px;
  margin-right: 20px;
}

/* Styling for the essential button */
#essential_btn {
  margin-left: 100px;
  margin-top: 20px;
}

/* Styling for the new style button */
#newStyle_btn {
  margin-left: 120px;
  margin-top: 70px;
}

/* Styling for the kitchen essential item */
#kitchenEssential {
  width: 200px;
  height: 70px;
}

/* *********************************** */

/* Styling for the become seller banner container */
.becomeSellerBanner_container {
  margin: 50px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Styling for images within the become seller banner container */
.becomeSellerBanner_container img {
  width: 100%;
}

/* Styling for the content within the become seller banner container */
.becomeSeller_content {
  position: absolute;
  top: 20px;
  text-align: right;
  padding-right: 50px;
}

/* Styling for the download app button within the become seller banner container */
.sellerBanner_downloadApp {
  position: absolute;
  top: 305px;
  right: 0;
}

/* Styling for the app download image within the become seller banner container */
.becomeSeller_appDownload img {
  width: 243px;
  margin-right: 40px;
  height: 64px;
}

/* Styling for the heading 2 within the become seller content */
.becomeSeller_content h2 {
  color: #5585f8;
  font-size: 34px;
}

/* Styling for the heading 1 within the become seller content */
.becomeSeller_content h1 {
  color: #9f2089;
  font-size: 48px;
}

/* Supplier container */
.messho_supplier_benefit {
  display: flex;
  align-items: center;
  padding: 0px 40px;
  border-right: 2px solid white;
  font-size: 16px;
}

/* Additional styling for the "Sell Product" element within the Supplier container */
#meeshoSupplier_sellProduct {
  font-size: 18px;
}

/* Styling for the content within the Supplier container */
.meeshoSupplier_content {
  padding-left: 40px;
}

/* Styling for the benefit container within the Supplier container */
.messho_supplier_benefit_container {
  display: flex;
  margin: 5px 0px;
}

/* Styling for the Supplier container */
.meeshoSupplier_container {
  position: relative;
}

/* Styling for the content within the Supplier container */
.meeshoSupplier_container_content > p {
  font-size: 34px;
}

/* Styling for the content container within the Supplier container */
.meeshoSupplier_container_content {
  position: absolute;
  top: 0;
  padding: 5px 10px;
  color: white;
  height: 10px;
}

/* Styling for the "Signup Now" button within the Supplier container */
.signup_btn_now {
  position: absolute;
  background-color: white;
  color: var(--hoverTextColor);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  height: 50px;
  width: 150px;
  padding: 15px 20px;
  /* box-sizing: border-box; */
  margin-top: 10px;
  border-radius: 10px;
}

/* Styling for the "You" product container */
.Product_container_you {
  /* display: flex; */
  min-height: 500px;
  /* background-color: gray; */
  padding: 10px;
}

/* Styling for the content within the "You" product container */
.Product_container_you_content {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100%;
  gap: 30px;
}

/* Styling for the aside section within the "You" product container */
.product_category_you_aside {
  /* background-color: red; */
  height: 100%;
}

/* Styling for the display grid within the "You" product container */
.product_category_display {
  /* background-color: green; */
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4,minmax(250px,1fr));
  grid-auto-rows: auto;
  /* flex-wrap: wrap;
  flex-direction: column; */
}

/* Styling for the search input within the category section */
.search_Category_input {
  display: flex;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* Styling for the input field within the search input */
.search_Category_input input {
  /* display: flex; */
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px 10px;;
}

/* Styling for the display category list */
.display_category_list{
  padding: 20px 10px;  
}

/* Styling for the individual items within the display category list */
.display_category_list{
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
}

/* Styling for the label within the display category list */
.display_category_list label{
  /* background-color: red; */
  width: 60%;
  margin: 3px 0px;
  text-transform: capitalize;
  /* background-color: red; */
}

/* Styling for the product card */
.productCard{
  border: 1px solid #ccc;
  max-width: 250px;
  padding: 10px;
  box-shadow: -1px -1px 5px rgba(0, 0,0,0.1),1px 1px 5px rgba(0, 0,0,0.3);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0px;
  /* display: flex; */
}

/* Styling for the product image container */
.product_image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling for the product image */
.product_image img{
  /* max-width: 200px; */
  height: 200px;
  width: fit-content;
}

/* Styling for the product name */
#product_name{
  padding: 0 5px;
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 560;
  text-transform: capitalize;
  color: gray;
}

/* Styling for the product price */
.product_price{
  padding: 0 5px;
  margin: 5px 0px;
  font-size: 24px;
  font-weight: 700;
  color: black;
}
