*{
    box-sizing: border-box;


}
/* what is use of root body , and * */
:root{
    --hoverTextColor: rgb(204, 39, 163);
    --textColor :#605d5d;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--textColor)

}

.header{
    height: 72px;
    /* background-color: red; */
    outline: 1px solid #CCC;
    padding: 0px 10px;
    padding-left: 80px;
    display: flex;
    /* Here height will be middle of 75 px  */
    align-items: center; 
    justify-content: space-between;  
    /* What is justify between */
    font-weight: 510;
}
.headerRight,.headerLeft{
    display: flex;
    align-items: center;
}
img{
    width: 100%;
}
/*This will take width according to its parent(image)  */
.logoContainer{
width: 160px;
}
.searchIcon{
    width: 30px;
    padding: 5px;
}
.searchInputContainer{
    width: 400px;
    height: 45px;
    outline: 1px solid #ccc;
    display: flex;
    margin-left: 25px;
    border-radius: 3px;
    align-items: center;
    padding: 7px;
    position: relative;
}
form{
    width: 100%;
}
.inputSearch{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.searchRecentModal{
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 45px;
    background-color: white;
    height: 400px;
    width: 100%;
    display: none;
    padding: 15px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
.searchInputContainer:focus-within .searchRecentModal{
    display: block;
}
.recentIcon{
    width: 20px;
    margin-right: 15px;
}
.recentItem{
    display: flex;
    align-items: center;
}


/* Right item */

.mobileIcon{
    width: 15px;
    margin: 5px;
}
.downloadContainer{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;;
    
}
.downloadContainer:hover{
    color: var(--hoverTextColor);
    cursor: pointer;
    
}
.downloadBtn{
    display: block;
    width:180px ;
    margin-top: 10px;
    /* box-shadow: 0px 0px 5px rgba(0,0,0,0.3); */
}
.downloadHoverBtnContainer{
    position: absolute;
    bottom: 0;
    top: 45px;
    
    width: 100%;
    /* background-color: red; */
    display: none;
    height: 200px;
    padding: 10px;
    color: var(--textColor);
    background-color: white;
    
}
.downloadContainer:hover .downloadHoverBtnContainer{
    display: block;
}
.downloadContainer P{
    margin: 0;
    padding: 0;
    font-size: 17px;
    padding: 20px;
}

.profileAndCart{
    display: flex;
    align-items: center;
}
/* what is use of focus */
.profileAndCart :hover,.profileAndCart:focus{
    color: var(--hoverTextColor);
}
.profileIcon,.cartIcon{
    width: 20px;
}
.profileAndCart p {
    margin: 0;
    padding: 0;
}
.profileContainer ,.cartContainer{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.becomeSupplierContainer{
    padding: 0px 30px;
    border-left: 2px solid #CCC;
    border-right: 2px solid #CCC;
    font-size: 17px;
}

/* Navigation bar */

nav{
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-weight: 510;
    height: 50px;
}
nav ul{
    padding: 0;
 
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    height: 100%;
    margin: 0;
}
nav ul li{
    display: flex;
    /* background-color: red; */
    align-items: center;
    /* position: relative; */
}
nav ul li:hover{
    color: var(--hoverTextColor);
    border-bottom: 3px solid var(--hoverTextColor);
    cursor: pointer;

}

/* Model box submenu */

.subMenu{
    position:absolute;
    width: 99vw;

    top: 123px;
    left: 10px;
    right: 10px;
    /* here we give position absolute so widht in % is taken according to it's parent element that's why we use vw height for adjusting height accoring to display */
    /* use of vw */
    box-sizing: border-box;
    /* what is box sizing */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: -1px 0px 1px 1px #ccc, 1px 0px 1px 1px #ccc;
    /* box shadow orientaiton */
    height: 400px;

    display: none;
}

nav ul li:hover .subMenu{
    /* position: absolute; */
    display:block;
    /* background-color: red; */
}